[submodule "ebook-folder/ebook-folder/mkdocs-material"]
	path = ebook-folder/ebook-folder/mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
[submodule "ebook-folder/mkdocs-material"]
	path = ebook-folder/mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
